@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
.Light{
    --color: #ffffff;
    --font: #FF3300;
    --fontColor: black;
    --bgColor: rgba(255, 255, 255, 0.1);
    --fontColor2: rgba(0,0,0,0.6);
    --fontColor3: rgba(255,255,255,0.6);
    background-image: url('https://images.unsplash.com/photo-1594734415578-00fc9540929b?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    object-fit: cover;
}

.Dark{
    --color: #0f0617;
    --font: #FF3300;
    --fontColor: #ffffff;
    --bgColor: rgba(255, 255, 255, 0.1);
    --fontColor2: rgba(255,255,255,0.6);
    --fontColor3: rgba(0,0,0,0.6);
    background-image: url('https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

html,body{
    height: 100%;
    width: 100%;
    background-color: var(--color);
    color: var(--font);
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width:0px;
    background: transparent;
}

a{
    text-decoration: none;
}

.main{
    background-color: #ffffff50;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 2.5rem;
    padding: 1rem 0.1rem;
    position: fixed;
    z-index: 5;
    a{
        color: var(--font);
    }
    z-index: 10;
    i{
        font-size: 2rem;
    }
}

#logo{
    font-weight: 900;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 1rem;
}

.search-bar{
    border: 2px solid rgba(255,69,0,0.3);
    border-radius: 10px;
    background-color: var(--fontColor2);
    width: 30rem;
    height: 2rem;
    transition: all 0.2s;
    a{
        background-color: var(--fontColor2);
    }
}

.search-bar:hover{
    border: 2px solid var(--font);
}

.search-bar select{
    background-color: var(--fontColor2);
    backdrop-filter: blur(10px);
    color: var(--font);
    width: 50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
.search-bar input{
    width: 100%;
    font-size: 0.9rem;
    border: none;
    background-color: var(--fontColor2);
    color: var(--fontColor3);
}

.search-bar a{
   width: 45px; 
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: var(--bgColor);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: var(--font);
}

.search-bar div i{
    font-size: 1.4rem;
   }

.nav-icons{
    list-style: none;
    display: flex;
    justify-content: space-around; 
}

.nav-icons li{
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.search-bar{
    display: flex;
}

.menu-btn{
    width: 40px; 
    padding:0 1rem;
}


.toggle{
    position: fixed;
    z-index: 999;
    top: 0;
    right: -250px;
    width: 250px; 
    height: 100vh;
    flex-direction: column;
    justify-content: stretch;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    transition: all 0.5s;
}

.btn-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
    padding-left: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.menu-btn{
    padding: 1rem;
}

.menu-btn i{font-size: 2rem;
    color: var(--font);
}

.toggle ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.toggle ul li{
    padding: 1rem;
    transition: all 0.5s;
}

.toggle ul li a{
    color: var(--fontColor);
}

.tg-bx:hover{
    background-color: #0f111146;
}

.main .menu-btn{display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

@media (max-width:700px) {
    .nav-icons{
        display: none;
        color: var(--font);
    }


    .menu-btn {font-size: 2rem;
        color: var(--font);
    }

    #logo{
        display: none;
    }

    .search-bar{
        width: 20rem;
        /* height: 2.5rem; */
    }

    .toggle .btn-div{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center; 
            padding-left: 1rem;
            font-weight: 700;
            font-size: 2rem;
    }

    .toggle .btn-div .menu-btn{
        padding: 1rem;
        color: var(--font);
    }
    .toggle ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%; 
        font-size: 1.5rem;
    }

    .toggle ul li{
            padding: 1rem;
    }
    .tg-bx:hover{
        background-color: #0f111146;
    }
    .pics{
        flex-direction: column;
        .part1{width: 70%;
            padding: 8rem 3rem 3rem;
        }
        .part2{width: 100%;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
        .part2 img{
            object-fit: cover;
            scroll-snap-align: start;
            width: 100%;
        }
    }
}

.main .menu-btn{padding: 0;}
.pics{
    background-color: var(--bgColor);
    backdrop-filter: blur(10px);
    padding-top: rem;
    display: flex;
    width: 100%;
}

.part1{
    h1{color: var(--fontColor);
        font-size: 2rem;
    }
    color: var(--fontColor2);
    width: 30%;
    padding: 10rem 5rem 0;
    .buy{
        margin: 2rem 0;
        background-color: var(--font);
        border: none;
        width: 8rem;
        height: 3rem;
        border-radius: 50px;
        color: var(--fontColor);
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.3rem;
        .bx-book-open{font-size: 1.7rem;}
    }
    .buy:hover{
        /* scale: 1.2;
        box-shadow: 0 2px 10px var(--font); */
        color: var(--font);
        background-color: #ffffff;
        scale: 1.1;
    }
}

.part2{
    width: 60%;
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 35rem;
    img{
        object-fit: cover;
        flex: 1 0 100%;
        scroll-snap-align: start;
        width: 100%;
        height: 100%;
    }
}
.part2::-webkit-scrollbar {
    display: none;
}
.slide{
    width: 100%;
    height: 70vh;
    img{
        object-fit: cover;
        width: 100%;
        height: 70vh;
    }
    .slide-text {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 70vh;
        margin: 30vh 5vw;
        color: #ffffff;
        .buy{
            margin: 1rem 0;
            background-color: var(--font);
            border: none;
            width: 6rem;
            height: 2rem;
            border-radius: 10px;
            color: #ffffff;
            transition: all 0.5s;
        }
        .buy:hover{
            scale: 1.2;
            box-shadow: 0 2px 10px var(--font);
        }
    }
}

/* Advantage */
.advantage .adbox{
    display: grid;
    grid-template-columns: repeat(4,25%);
    /* padding: rem; */
    margin: 4% 5%;
    background-color: var(--bgColor);
    border-radius: 10px;
    justify-content: space-around;
    box-shadow: 0px 0 10px;
    backdrop-filter: blur(10px);
    .points{
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        justify-content: flex-start;
        color: var(--fontColor);
        i{
            color: var(--font);
            font-size: 2rem;
        }
    }
}

@media (max-width:1200px){
    .advantage .adbox{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

@media (max-width:425px){
    .advantage .adbox{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}

/* Trending section */
.Selling{
    margin: 4% 5%;
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1.5%;
        .line{
            background-color: var(--fontColor);
            opacity: 0.5;
            width: 70%;
            height: 2px;
        }
        .showmore{
            color: var(--fontColor);
            font-size: 0.8rem;
            margin-left: 2%;
        }
        
    }
    .cardContainer{
        display: grid;
        margin: 2rem;
        grid-template-columns: repeat(8, 25%);
        grid-template-rows: repeat(1, minmax(300px,500px));
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            scroll-snap-align: start;
            height: 100%;
            width: 100%;
        }
    }
    .cardContainer::-webkit-scrollbar {
        display: none;
    }
}

.content{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    height: 90%;
    width: 80%;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .cardimage{
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 20px;
    }
    .cardbookname{
        font-weight: 500;
        font-size: 1.2rem;
    }
    .bookauthor{
        opacity: 0.6;
    }
    .rating{
        color: gold;
    }
    .price{
        font-weight: 500;
        font-size: 1.3rem;
    }
}

@media (max-width:600px){
    .Selling .cardContainer{
        grid-template-columns: repeat(8, 100%);
    }
}
@media (min-width : 601px) and (max-width:1000px){
    .Selling .cardContainer{
        grid-template-columns: repeat(8, 50%);
    }
}

.modalbox{
    width:100%;
    height: 80vh;
    /* background-color: var(--fontColor2);
    backdrop-filter: blur(10px); */
    z-index: 2;
    position: fixed;
    top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    display: none;
}

.message{
    width:70%;
    height: 100%;
    background-color: var(--bgColor);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 7% 93%;
    overflow-y: auto;
}

.modalinfo{
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding-bottom: 1rem;
}

.modalcontent{
    display: grid;
    /* height: 100%; */
    grid-template-rows: 5% 5% 5% 5% 5% 70%;
    row-gap: 1.5rem;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 1rem;
    color: var(--fontColor);
}

.modalpic{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.modalbookrating{
    grid-row: 2/3;
    color: gold;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}
.modalbookauthor{
    grid-row: 3/4;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}
.modalbookprice{
    grid-row: 4/5;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}
.addcart{
    grid-row: 5/6;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.addcart button{
    background-color: var(--font);
    border: none;
    width:100%;
    padding: 0.4rem 1rem;
    height: 80%;
    border-radius: 50px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    i{font-size: 1.5rem;}
    transition: all 0.5s;
    }
.addcart button:hover{
        background-color: var(--color);
        color: var(--fontColor);
        scale: 1.1;
    }
.modalabout{
    grid-row: 6/7;
    display: flex;
    margin-top: 1rem;
    justify-self: flex-start;
    /* padding-top: 1.2rem; */
}

.modalpic div{
    width:80%;
    height: 100%;
}
.modalpic img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.modalbookname{
    grid-row: 1 / 2;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.message .closemodal{
    font-size: 200%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--font);
}
.modalinfo::-webkit-scrollbar{
    display: none;
}

@media (max-width:800px){
    .message .modalinfo{
        grid-template-columns: 100%;
        overflow-y: auto;
    }
}

/* ------Banner------ */

.banner1{
    background-image: url('https://images.unsplash.com/photo-1557264322-b44d383a2906?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.banner2{
    background-image: url('https://images.unsplash.com/photo-1477313372947-d68a7d410e9f?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.banner1{
    /* height: 60vh; */
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.banner2{
    /* height: 60vh; */
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.banmsg{
    margin: 2rem;
}

.genre{font-size: 1.2rem;}

.genre-type{
    color: #ffffff;
    font-size: 2rem;
}

.genreabout{
    color: #ffffffaa;
}

.viewmore button{
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--font);
    border: none;
    border-radius: 50px;
    margin: 1rem;
    color: var(--fontColor);
    font-size: 1.1rem;
    transition: all 0.5s;
}

.viewmore button:hover{
    color: var(--font);
    background-color: var(--fontColor);
    scale: 1.1;
}

.banbooks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:1rem;
}

.bancard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bancardcontent{
    /* height: 80%; */
    width: 80%;
    color: #ffffff;
    font-size: 1.2rem;
}
.banbooks img{
    height: 100%;
    width: 80%;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    align-items: center;
}

@media (max-width: 1000px){
    .banner{grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
    }
}

.comingsoon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
    color: var(--fontColor);
    row-gap: 1rem;
}

.upcoming{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
    row-gap: 1rem;
    width: 100%;
}

.upcomingbook .card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming .content {row-gap: 1rem;}

.upcomingbook .content .imgbox{
    position: relative;
}

.upcomingbook .comingsoonbanner{
    list-style: none;
    z-index: 1;
    position: absolute;
    bottom: 30%;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
    height: 20%;
    color: black;
    display: flex;
    transition: all 0.5s;
    transform: translate(0,-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.comingsoonbanner li{
    background-color: var(--fontColor3);
    color: var(--fontColor);
    height: 70%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.upcomingbook .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upcomingbook .price button{
    background-color: var(--font);
    color: var(--fontColor);
    border: none;
    border-radius: 20px;
    /* height: 2rem; */
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    i{
        font-size: 1.8rem;
    }
    transition: all 0.5s;
}

.upcomingbook .price button:hover{
    scale: 1.1;
    color: var(--font);
    background-color: #ffffff;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    color: var(--fontColor);
}

footer ul{
    list-style: none;
    color: var(--fontColor2);
}

footer a{
    color: var(--fontColor2);
}

footer a:hover{
    color: var(--font);
}

.f-r1{
    display: grid;
    grid-template-columns: 15% 15% 30% 15% 15%;
    justify-content: space-around;
}

.f-r1 :nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.fcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.unstyled{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.f-r1 :nth-child(3) .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-size: 2rem;
}

.f-r1 :nth-child(3) .social-icons i{
    color: var(--fontColor);
}

.f-r1 :nth-child(3) .social-icons a:hover{
    transition: all 0.5s ease-in-out;
    scale: 1.5;
    i{color: var(--font);}
}

.f-r1 :nth-child(3) p{text-align: center;}

@media (max-width:1024px){
    .f-r1{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 1fr 2fr 1fr;
    }

    .f-r1 :nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .f-r1 :nth-child(2){
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .f-r1 :nth-child(3){
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .f-r1 :nth-child(4){
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .f-r1 :nth-child(5){
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

.f-r2{
    text-align: center;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

hr{
   border: 1px solid var(--fontColor); 
}

/* Slider */

.testimonials{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.testimonials .heading{
    color: var(--fontColor);
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.testimonials .heading .line{
    height: 2px;
    width: 80%;
    background-color: var(--fontColor);
}

.swiper {
    width: 100%;
    /* height: 50vh; */
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--bgColor);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    /* justify-content: center;
    align-items: center; */
    color: var(--fontColor);
  }

  .swiper-slide .client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    display: block;
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
  }

  .swiper-slide .rev{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .rev .head{
    text-align: center;
    font-size: 3rem;
    color: var(--font);
  }

  .rev .rev-content{
    width: 90%;
    text-align: center;
  }

  .rev .timeago{
    width: 90%;
    text-align: right;
  }

  .swiper-button{
    color: var(--font);
  }

  @media (max-width: 800px){
    .swiper-slide{
        grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    }
  }

  /* subscribe */

  .subscribe{
    margin: 1rem 0;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 2rem;
    background-color: var(--bgColor);
    backdrop-filter: blur(10px);
    color: var(--fontColor);
  }

  .subscribe form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    align-items: center;
  }

  .emailinput{
    border-radius: 20px;
    border: none;
    width: 20rem;
    height: 2rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .emailinput:hover{
    border: 2px solid var(--font);
  }

  .submitinput{
    width: 10rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: var(--font);
    color: #fff;
    transition: all 0.5s;
  }

  .submitinput:hover{
    color: var(--font);
    background-color: var(--fontColor);
    scale: 1.1;
  }